@import '~@angular/material/theming';

@mixin nmhne-posts-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  nmhne-post {
    mat-card {
      border-bottom: 1px solid mat-color($background, status-bar);

      &.visited {
        background-color: mat-color($background, app-bar);
      }
    }

    .score {
      &:hover {
        color: mat-color($primary);
      }
    }
    h2 {
      a {
        color: mat-color($foreground, text);

        &:hover {
          color: mat-color($primary);
        }
      }
    }
  }
}
