@import 'styles-responsive';

:host {
  display: block;

  mat-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px 20px;
    transition: all 0.3s;

    &.visited {
      .score,
      .type {
        opacity: 0.25;
      }

      .content {
        h2 {
          opacity: 0.45;
        }
      }
    }

    &.selected {
      padding: 20px 40px;
      margin: 20px -20px;

      @include for-size($size-phone-only) {
        padding: 10px 20px;
        margin: 10px -10px;
      }
    }

    mat-icon {
      position: relative;
      top: 6px;
    }

    .score {
      min-width: 80px;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }

    .content {
      flex: 10 1;
      padding: 8px 0 0 5px;
      min-width: 50%;

      mat-icon {
        margin: 0 5px 0 0;
      }

      h2 {
        font-size: 14px;
        line-height: 20px;
        position: relative;
        margin: 0;

        a {
          text-decoration: none;
          display: inline-block;
        }

        span {
          opacity: 0.35;
        }
      }

      p {
        font-size: 13px;
        margin: 0;
        opacity: 0.5;
      }
    }

    .actions {
      display: flex;
      flex: 1 1;
      justify-content: center;
      height: 48px;

      @include for-size($size-phone-only) {
        margin: 10px 0 0 0;
      }

      > * {
        flex: 1 1;
      }

      .link-action {
        margin: 0 5px 0 0;
      }

      button {
        mat-icon {
          top: 1px;
        }

        span {
          position: relative;
          top: 1px;
        }
      }
    }
  }
  .comments {
    transition: all 0.5s ease-out;
    padding: 0 0 40px 40px;
    overflow: hidden;

    @include for-size($size-tablet-portrait-up) {
      padding: 0 110px 40px 55px;
    }

    @include for-size($size-tablet-landscape-up) {
      padding: 0 300px 40px 133px;
    }
  }
}
