:host {
  display: block;
  margin: 10px;

  mat-icon {
    position: relative;
    top: 6px;
  }

  h2 {
    font-size: 16px;
    position: relative;

    span {
      display: inline-block;
      width: 100px;
    }

    a {
      display: inline-block;
      max-width: 60%;
    }
  }

  .user {
    float: right;
  }
}
