<mat-card [ngClass]="{ selected: selected }">
  <div class="score"><mat-icon>thumb_up</mat-icon> {{post.score}}</div>
  <div class="content">
    <h2>
      <a [href]="post.url" target="_blank">
        <mat-icon *ngIf="post.domain.length">link</mat-icon>
        <mat-icon *ngIf="!post.domain.length">person_outline</mat-icon>
        {{post.title}}
      </a>
      <span *ngIf="post.domain.length">({{post.domain}})</span>
    </h2>
    <p>#{{index}} by {{post.by}} {{post.timeSince}} ago</p>
  </div>
  <button mat-button color="primary" *ngIf="post.descendants > 0 && !selected"
    (click)="onCommentsClick()">
    <mat-icon>comment</mat-icon> <span>{{post.descendants}}</span>
  </button>
  <button mat-raised-button color="primary" *ngIf="post.descendants > 0 && selected"
    (click)="onActiveCommentsClick()">
    <mat-icon>comment</mat-icon> <span>{{post.descendants}}</span>
  </button>
</mat-card>
<div class="comments" *ngIf="selected && post.comments"
     [@listTransitions]="post.comments.length">
  <nmhne-comment *ngFor="let comment of post.comments; trackBy: postsService.trackByItemId"
                 [comment]="comment"
                 [root]="true"></nmhne-comment>
</div>
