@import 'styles-responsive';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  mat-toolbar {
    position: fixed;
    z-index: 1;
    padding: 0 40px;

    @include for-size($size-phone-only) {
      padding: 0 20px;
    }

    .menu {
      margin: 0 10px 0 0;
      @include for-size($size-tablet-landscape-up) {
        display: none;
      }
    }

    .help {
      @include for-size($size-phone-only) {
        display: none;
      }
    }

    .title {
      outline: 0;
      cursor: pointer;

      .logo {
        padding: 10px 18px 10px 15px;
        letter-spacing: -5px;
        margin: 0 10px 0 0;
      }

      .title-long {
        display: none;

        @include for-size($size-tablet-landscape-up) {
          display: inline;
        }
      }
    }

    .spacer {
      flex: 1 1 auto;
    }

    button,
    nmhne-notifications {
      margin: 0 0 0 10px;
    }

    .nav-button {
      display: none;

      @include for-size($size-tablet-landscape-up) {
        display: block;
      }
    }

    mat-progress-bar {
      position: absolute;
      top: 64px;
      left: 0;

      @include for-size($size-phone-only) {
        top: 56px;
      }
    }
  }

  .main-content {
    flex: 1 1 auto;
    padding: 64px 0 0 0;

    @include for-size($size-phone-only) {
      padding: 56px 0 0 0;
    }
  }

  footer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px 20px 40px;

    @include for-size($size-phone-only) {
      padding: 24px 20px 20px 20px;
    }
  }
}
