@import '~@angular/material/theming';

@mixin nmhne-root-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);

  nmhne-root {
    mat-toolbar {
      button.active {
        background-color: mat-color($primary, darker);
      }

      .title {
        span {
          border: 2px solid mat-color($background, card);
        }
      }
    }

    footer {
      background-color: mat-color($accent);
      color: mat-color($accent, lighter);

      a {
        color: mat-color($accent, lighter);

        &:hover {
          color: mat-color($accent, darker);
        }
      }
    }
  }
}
