mat-toolbar {
  position: fixed;
  z-index: 1;

  .title {
    outline: 0;
    cursor: pointer;

    span {
      padding: 10px 16px;
      margin: 0 10px 0 0;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  button {
    margin: 0 0 0 10px;
  }
}

.content {
  padding: 64px 0 0 0;
}
