:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  mat-toolbar {
    position: fixed;
    z-index: 1;
    padding: 0 40px;

    .title {
      outline: 0;
      cursor: pointer;

      span {
        padding: 10px 18px 10px 15px;
        letter-spacing: -5px;
        margin: 0 10px 0 0;
      }
    }

    .spacer {
      flex: 1 1 auto;
    }

    button {
      margin: 0 0 0 10px;
    }
  }

  .content {
    flex: 1 1 auto;
    padding: 64px 0 0 0;
  }

  footer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px 20px 40px;
  }
}
