<mat-toolbar color="primary">
  <span class="title" routerLink=""><span>HF</span> HAKAFAKA</span>
  <span class="spacer"></span>
  <button mat-button
          *ngFor="let item of menu"
          [routerLink]="item.path"
          routerLinkActive="active">
    {{item.title}}
  </button>
  <button mat-icon-button (click)="onHelpClick()">
    <mat-icon>help_outline</mat-icon>
  </button>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
<footer>
  <div>{{year}}</div>
  <div>HAKAFAKA</div>
  <div><a href="https://github.com/tomastrajan/ngx-model-hacker-news-example/blob/master/CHANGELOG.md" target="_blank">{{version}}</a></div>
</footer>
