<mat-toolbar color="primary">
  <span class="title" routerLink="">
    <span class="logo">HF</span> <span class="title-long">HAKAFAKA</span>
  </span>
  <span class="spacer"></span>
  <button mat-button
          class="nav-button"
          *ngFor="let item of menu"
          [routerLink]="item.path"
          routerLinkActive="active">
    {{item.title}}
  </button>
  <button mat-icon-button (click)="onDarkThemeClick()">
    <mat-icon>lightbulb_outline</mat-icon>
  </button>
  <button mat-icon-button (click)="onHelpClick()">
    <mat-icon>help_outline</mat-icon>
  </button>
  <nmhne-notifications></nmhne-notifications>
  <mat-progress-bar color="accent" mode="indeterminate"
    *ngIf="backendService.isLoading$ | async">
  </mat-progress-bar>
</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
<footer>
  <div>{{year}}</div>
  <div>HAKAFAKA</div>
  <div><a href="https://github.com/tomastrajan/ngx-model-hacker-news-example/blob/master/CHANGELOG.md" target="_blank">{{version}}</a></div>
</footer>
