* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

@import '~@angular/material/theming';

@include mat-core();

$nmhne-primary: mat-palette($mat-deep-orange);
$nmhne-accent: mat-palette($mat-amber);
$nmhne-warn: mat-palette($mat-red);

$nmhne-theme: mat-light-theme($nmhne-primary, $nmhne-accent, $nmhne-warn);

@import 'styles.scss-theme';
@import 'app/app.component.scss-theme';
@import 'app/posts/post/post.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include styles-theme($theme);
  @include nmhne-root-theme($theme);
  @include nmhne-posts-component-theme($theme);
}

@include angular-material-theme($nmhne-theme);
@include custom-components-theme($nmhne-theme);
