@import '~@angular/material/theming';

@mixin styles-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);

  body {
    a {
      color: mat-color($primary);

      &:hover {
        color: mat-color($primary, darker);
      }
    }
  }
}
