$size-phone-only: 'phone-only';
$size-tablet-portrait-up: 'tablet-portrait-up';
$size-tablet-landscape-up: 'tablet-landscape-up';
$size-desktop-up: 'desktop-up';
$size-big-desktop-up: 'big-desktop-up';

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 960px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
