<button class="action-comments" mat-fab *ngIf="posts.isSelected"
        (click)="onCloseSelectedCommentsClick()">
  <mat-icon>close</mat-icon>
</button>
<div class="list" [@listTransitions]="posts.items.length">
  <nmhne-post *ngFor="let post of posts.items;
                      trackBy: postsService.trackByItemId; let i = index"
              [post]="post"
              [index]="i + 1"></nmhne-post>
</div>
<div class="action">
  <button mat-fab color="primary"
          (click)="onLoadMoreClick()"
          [disabled]="!posts.items.length">
    <mat-icon aria-label="Load more posts">add</mat-icon>
  </button>
</div>
