:host {
  display: block;
  padding: 40px;

  .action {
    padding: 60px 0 20px 0;
    text-align: center;
  }

  .action-comments {
    position: fixed;
    bottom: 60px;
    right: 73px;
    z-index: 10;

    mat-icon {
      transition: all 0.3s;
      pointer-events: none;
    }

    &:hover {
      mat-icon {
        transform: rotate(0.25turn);
      }
    }

    &:active {
      mat-icon {
        transform: rotate(-0.25turn);
      }
    }
  }
}
