:host {
  display: block;
  max-width: 500px;

  .branding {
    margin: -24px -24px 0 -24px;
    padding: 40px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;

    span {
      padding: 10px 18px 10px 15px;
      letter-spacing: -5px;
      margin: 0 10px 0 0;
    }
  }

  .content {
    h2 {
      margin: 25px 0 5px 0;
    }

    .keyhelp {
      position: relative;
      top: -10px;

      mat-icon {
        display: inline;
        position: relative;
        top: 7px;
      }
    }

    ul {
      list-style: none;

      li {
        span {
          display: inline-block;
          width: 60px;
          padding: 2px 0;

          code {
            padding: 2px 8px 3px 8px;
            border-radius: 6px;
          }
        }
      }
    }
  }

  .actions {
    margin: 24px 0 0 0;
    text-align: center;
  }
}
